 @import url("https://fonts.googleapis.com/css?family=Gochi+Hand");
body {
  background-color: #a39bd2;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494a4b;
  font-family: "Gochi Hand", cursive;
  text-align: center;
  font-size: 130%;
}

@media only screen and (min-width: 500px) {
body {
min-width: 98vw;
min-height: 95vh;
}}